*{
    padding: 0px;
    margin: 0px;
    font-size: 21px;
    color: rgb(255, 255, 255);
    background-color: rgb(56, 56, 56);
}

body{
    background-color:rgb(56, 56, 56);
    padding: 15px;
}

input{
    border: 1px rgb(155, 155, 155) solid;
    width: 50%;
}

#commitButton{
    visibility: hidden;
}

table{
    display: inline;
}

td{
    width: 200px;
}
